<%- include('../partials/header') %>
 <link rel="stylesheet" href="/stylesheets/login.css">
<body>
  <% if (locals.user) { %>
    <h2>Ya estas logeado</h2>
  <a href="/" class="btn btn-primary">Volver a Incio</a>
  <% } else { %>
    <h1 class="login">Login</h1>
    <div class="formLogin">
      <form method="POST">
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"> <br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="contrasenia"><br>
        <label for="rememberme">Recordame</label>
        <input type="checkbox" id="rememberme" name="rememberme"><br><br>
        <input type="submit" class="divBotones" value="Submit">
        <% if (failed) { %> 
          <br>
          <span style="color:red">Combinacion de password y email incorrecta</span>
          <br>
        <% } %>
       <!-- = locals.error  -->
      </form>
    </div>
  <% } %>
  


    
  </body>

  <%- include('../partials/footer') %>