<%- include('../partials/header') %>
<h1>Este es tu perfil, <%= users.nombreusuario %></h1> 
<h2><img src="https://recursospracticos.com/wp-content/uploads/2017/10/Sin-foto-de-perfil-en-Facebook.jpg" alt=""></h2>



<%- include('../partials/footer') %>
