<%- include('../partials/header') %>
 
<h2 class="imgUser"><img src="https://recursospracticos.com/wp-content/uploads/2017/10/Sin-foto-de-perfil-en-Facebook.jpg" alt=""></h2>
<div class="perfilText">
    <h1>Este es tu perfil, <%= users.nombreusuario %>.</h1>

</div>


<%- include('../partials/footer') %>
