<%- include('../partials/header') %>

<body>

  <% if (locals.user) { %>
    <h2>Ya estas Registrado</h2>
  <a href="/" class="btn btn-primary">Volver a Incio</a>
  <% } else { %>
  <h1 class="Register">Register</h1>
  <div class="formRegister">
    <form method="POST">
      <label for="name">Name:</label><br>
      <input type="text" id="name" name="nombreusuario"><br>
      <label for="email">Email:</label><br>
      <input type="email" id="email" name="email"> <br>
      <label for="password">Password:</label><br>
      <input type="password" id="password" name="contrasenia"><br> 
	  <label for="bday">Fecha de Nacimiento:</label><br>
	  <input type="date" id="bday" name="bday"> <br><br>
    <input type="submit" value="Submit">
    <% } %>
</form>
  </div>

  </body>

<%- include('../partials/footer') %>



