<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.83.1">

  
  <link href="/stylesheets/app.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <link href="/stylesheets/header.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
    </style>
</head>
<body>
  
   <header class="header_fijo  normal" id="encabezadoGeneral">
    <!-- Fin top-header -->
  
    <div class="container  normal" id="contenedorEncabezador">
      <div class="header-inner" id="encabezadoSinBaner">
  
        <div class="row" id="filaBuscacor">
          <div class="col-md-3 col-xs-3"> <a href="/" class="logo">
              <!-- index.php?secion=1&nro_max=50 -->
              <img class="logo__img" id="logo_principal" src="https://apollo-virginia.akamaized.net/v1/files/mkcc0xdabjs8-AR/image;s=400x0" width="100%" alt="Logo">
              
            </a>
          </div>
          <div class="col-md-6 col-xs-6" style="margin: 0px; padding:0px">
            <div class="header-search clearfix">
              <div class="header-search__form" style="height:  48px;">
                <form class="product-search" action="index.php" method="GET">
                  <input class="product-search__field" id="searchQuery" type="text" name="criterio" value="">
                  <button style="height:30px;" class="product-search__btn ui-btn ui-btn_primary " id="botonBusqueda" value="Buscar" alt="Buscar" autofocus="">Buscar</button>

                  <input type="hidden" name="seccion" value="3">
                                                   <input type="hidden" name="nro_max" value="50">                                                              </form>
              </div>
            </div><!-- Fin Buscador -->
          </div>
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <% if (locals.user) { %>
              <li><a href="/products/product-add" class="nav-link px-2 link-dark">Add product</a></li>
              <li><a href="/<%= user.id %>/profile" class="nav-link px-2 link-dark">Profile</a></li>
            <% } %>
          </ul>

          <div class="divepico col-md-3 text-end">
            <% if (locals.user) { %>
              Logged in as <%= user.nombreusuario %> 
              <a href="/logout" class="btn logoutbtn btn-primary">Logout</a>
            <% } else { %>
              <a href="/login" class="btn btn-primary">Login</a>
              <a href="/register" class="btn btn-primary">Registrate</a>
            <% } %>
          </div>
    
          <div class="col-md-3 text-end">

          </div>  
      </div>
      <!-- Fin header-inner-->
    </div>
    <!-- Fin Contenedor-->
  </header>

  
  
  

  