<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.83.1">

  
  <link href="/stylesheets/app.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</head>
<body>
  <header class="header_fijo  normal" id="encabezadoGeneral">
    <!-- Fin top-header -->
  
    <div class="container  normal" id="contenedorEncabezador">
      <div class="header-inner" id="encabezadoSinBaner">
  
        <div class="row" id="filaBuscacor">
          <div class="col-md-3 col-xs-3"> <a href="https://compragamer.com" class="logo">
              <!-- index.php?secion=1&nro_max=50 -->
              <img class="logo__img" id="logo_principal" src="https://compragamer.net/assets/img/logo.png?v9" width="252" alt="Logo">
              <img class="logo__img" id="logo_principal_mini" src="https://compragamer.net/assets/img/logo_mini.png?v10" width="252" alt="Logo">
            </a>
          </div>
          <div class="col-md-6 col-xs-6" style="margin: 0px; padding:0px">
            <div class="header-search clearfix">
              <div class="header-search__form" style="height:  48px;">
                <form class="product-search" action="index.php" method="GET">
                  <input class="product-search__field" id="searchQuery" type="text" name="criterio" value="">
                  <input type="image" class="product-search__btn" id="lupaBusqueda" src="https://compragamer.net/assets/img/search-icon-th.png" value="Buscar" alt="Buscar">
                  <button style="height:48px;" class="product-search__btn ui-btn ui-btn_primary" id="botonBusqueda" value="Buscar" alt="Buscar" autofocus="">Buscar</button>
  
                  <input type="hidden" name="seccion" value="3">
                                                   <input type="hidden" name="nro_max" value="50">                                                              </form>
              </div>
            </div><!-- Fin Buscador -->
          </div>
  
                    <div class="col-md-3 col-xs-3 marcoCarrito">
  
              <div class="header-cart">
                <a id="hyperReferenciaCarrito" href="/?gclid=CjwKCAjwiLGGBhAqEiwAgq3q_v4WsJDLpjxUBTq_5usxuhfo_VZ0xpa2WFJaO9Y-iK5wKaDbLSd3PRoCdXMQAvD_BwE&amp;seccion=11">
                  <div class="header-cart__preview">
                    <span class="" aria-hidden="false">
                      <img src="https://compragamer.net/assets/img/cartMaterialOK.png" width="28" height="28" alt="">
                    </span>
                    <span id="cantidadCarrito" class="color_primary resumen_cantidad normal" hidden-xs"="">0</span>
                  </div>
                </a>
              </div>
            </div>
                  </div>
  
  
                <div class="row marcoNewtonBannerFondo normal" style="margin-bottom:0; padding:0px;">
            <div style="text-align:center;" class="newtonBanner" data-posicion="2" data-web="cg" data-bannert="UDAqFdrZ9n2ofLAdjtCcj6KdtzBm2WcokvUsy6B1yX8tzgOa0c">
            </div>
          </div>
        
      </div>
      <!-- Fin header-inner-->
    </div>
    <!-- Fin Contenedor-->
  </header>
  

  