body {
  padding: 50px;
  font-family: 'Lato', sans-serif;;
}

a {
  color: #00B7FF;
  font-family: 'Lato', sans-serif;
}





.selector-for-some-widget {
  box-sizing: content-box;
}


.logo__img{
  width: 150px;
}
#navbarNavAltMarkup{
  background-color: #41A693 ;
}

.btn {
  margin-top: 12px;
  margin-left: 5px ;
}


.cleanup {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
.text-muted {
  font-size: small;
}

.col-md-4 {
  display: flex;
  justify-content: center;
  align-self: center;
}

.navbar-light .navbar-nav .nav-link{
  text-decoration: none;
  color: white;
}

.nombreProducto {
  font-weight: 700;
}

.card-title {
  padding: 25px;
  font-size: 2rem;
  font-weight: bold;
}

.col-md-8 {
  font-size: 1rem;

}

.login  {
  display: flex;
  justify-content: center;
  align-self: center;
}

.formLogin {
display: flex;
justify-content: center;
align-self: center;
}

.Register  {
  display: flex;
  justify-content: center;
  align-self: center;
}

.formRegister {
  display: flex;
  justify-content: center;
  align-self: center;
  }

  .imgUser {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 50px;
    }

    .perfilText {
      display: flex;
      justify-content: center;
      align-self: center;
      margin-bottom: 50px;
    }