<%- include('../partials/header') %>
<form method="post">
  <div class="mb-3">
    <label for="nombre" class="form-label">nombre</label>
    <input type="text" class="form-control" id="nombre" name="nombre" value="<%= producto.nombre %>">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <input type="text" class="form-control" id="description" name="description" value="<%= producto.descripcion %>">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  
 
<%- include('../partials/footer') %>