<!DOCTYPE html>
<html>
  <head>
    <title>Productos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Products(<%= producto.length %>) </h1>
    <ul>
      <% actors.forEach(product => { %>
        <li><%= producto.nombre %></li>
       <% }) %>
    </ul>
  </body>
</html>